@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-uniquifier {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/*shared styles*/
.display-flex{
    display: flex;
}
.text-gray{
     color:#424242;
}
.text-primary{
    color: #ff900e;
   
}
.text-light-gray{
    color:#727272;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #ff900e;
    color:white;
    padding:25px 25px;
    font-weight: 600;
    font-size: 1.2em;
    cursor:pointer;
    border-radius: 15px;
    border:none;
    margin-bottom:30px;
}
main{
    max-width:1200px;
    width: 100%;
    margin:0 auto;
}
.section-title{
    font-size:2rem;
    font-weight: 700;
}

/*header styles*/


/*navbar related styles*/
.navbar{
    justify-content:space-between;
    align-items: center;
}.brand{
    font-weight: 700;
    font-size:2.5rem;
}
.nav-item{
    list-style: none;
    margin-right:50px;
}
.nav-link{
    text-decoration:none;
    font-weight:500;
   
}
.navbar,.banner{
    max-width: 1200px;
    margin:0 auto;
}
/*banner related styles*/
.banner-content{
    max-width:1400px;
    margin: 0,auto;
    text-align:center;
}
.banner-title{
    font-weight:700;
    font-size:4rem;
}
.banner-image{
    width:100%;
    margin-bottom:35px;
}
/*main section related styles*/
.teams{
    align-items:center;
    width:100%;
}
.team-img{
    display:grid;
    grid-template-columns: repeat( 2, 1fr);
    gap:10px;
    
}
main{
    margin:30px 0px 0px 0px;
}

.features{
    margin-left: 50px;
}
#quick-list{
    font-weight:500;
}
/*some-facts related style*/
.facts-container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    margin-left:9.9%;
}
.fact-card{
    border: 1px solid #ff900e;
    border-radius:8px;
    height:200px;
    width:200px;
    text-align:center;
    align-items:center;
    justify-content:center;
    
}
.fact-number{
    font-size: 2.5rem;
    font-weight:600;
    margin-top:5px;
    margin-bottom:5px;
}
.fact-name{
    font-size:1.2rem;
    font-weight: 600;
    margin-top:15px;
    margin-bottom:10px;
}
/*our-sponsor related styles*/
.sponsor-info{
    max-width:540px;
    margin: 50px auto;
    text-align:center;
}
.sponsor-partners{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.sponsor-partners img{
    filter:grayscale(100%);
    transition: filter 0.3s ease;
}
/*
 .sponsor-partners img

 filter:grayscale(100%) -this  turn any color image into gray image
 & 

 .sponsor-partners img:hover 

   img:hover{filter: grayscale(0%);}-this is for hover effect.
*/
.sponsor-partners img:hover{
     filter: grayscale(0%);
}
/*responsive media query*/
@media screen and (max-width:576px)
{
    .navbar, 
    .nav-links,
    .teams
    {
        flex-direction:column;
    }
    main{
        max-width:350px;
        margin:0 auto;
    }
    .teams{
        align-items: center;
        justify-content: center;
    }
    .team-img,
    .facts-container,
    .sponsor-partners
    {
        grid-template-columns: repeat(1, 1fr);
        margin-left:10px;
    }
    .facts-container,
    .sponsor-partners
    {
        justify-items:center;
        gap: 30px;
    }
    .features{
        
        margin-left: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:992px)
{
   .teams{
    flex-direction: column;
   }
   .features{
    margin-left:50px;
   }
   .facts-container,
   .sponsor-partners{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:50px;
    justify-items:center;
   }
}