@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-uniquifier {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/*shared styles*/
.display-flex{
    display: flex;
}
.text-gray{
     color:#424242;
}
.text-primary{
    color: #ff900e;
   
}
.text-light-gray{
    color:#727272;
    line-height:25px;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #ff900e;
    color:white;
    padding:25px 25px;
    font-weight: 600;
    font-size: 1.2em;
    cursor:pointer;
    border-radius: 10px;
    border:none;
    margin-bottom:30px;
}
main{
    max-width:1400px;
    width: 100%;
    margin:0 auto;
}
.section-title{
    font-size:2rem;
    font-weight: 700;
}
.feature-card .featured-title{
    /*font-weight and size is not working*/
   font-weight:400;
   font-size:16px; 
}
/*header styles*/


/*navbar related styles*/
.navbar{
    justify-content:space-between;
    align-items: center;
}.brand{
    font-weight: 700;
    font-size:2.5rem;
}
.nav-item{
    list-style: none;
    margin-right:50px;
}
.nav-link{
    text-decoration:none;
    font-weight:500;
   
}
.navbar,.banner{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
}

/*banner related styles*/
header{
    width:100%;
    margin-bottom:50px;
    margin-right:10px;
}
.banner-content{
    max-width:1400px;
    margin: 0 auto;
    text-align:center;
}
.banner-title{
    font-weight:700;
    font-size:3rem;
}
.banner-image{
    width:100%;
    margin-bottom:35px ;
}
/*main section related styles*/
.teams{
    align-items:center;
    width:100%;
}
.team-img{
    display:grid;
    grid-template-columns: repeat( 2, 1fr);
    gap:10px;
    
}

.features{
    margin-left: 50px;
}
#quick-list{
    font-weight:500;
}
/*features you will love section related style*/
.features-u-will-love div h4{
    margin-top:20px;
    margin-bottom:20px;
}
.features-u-will-love{
    margin-top:50px;
    gap:30px;

}
#feature-section-sidebar{
border-left: 5px solid  #ff900e;
padding-left:20px;

}
.feature-card-group{
    margin-right:5px;
}
.feature-card{
    padding:5px 6px 10px 3px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom:50px;
    border-radius:8px;
    width:450px;
}
.feature-card.feature-title{
    font-weight: 600;
    font-size:1.25rem;

}
/*lady-architect*/
#lady-architect{
margin-top:18px;    
margin-right:9px;
margin-left:9px;


}
#experience-badge{
    padding:30px 35px;
    font-size:1.4rem;
    font-weight:500;
    margin-left:-40px;
    margin-top:-200px;
}
#experience-year{
    font-size:2.4rem;
    font-weight:600;
}
/*some-facts related style*/
.facts-container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    margin-left:9.9%;
}
.fact-card{
    border: 1px solid #ff900e;
    border-radius:8px;
    height:200px;
    width:200px;
    text-align:center;
    align-items:center;
    justify-content:center;
    
}
.fact-number{
    font-size: 2.5rem;
    font-weight:600;
    margin-top:5px;
    margin-bottom:5px;
}
.fact-name{
    font-size:1.2rem;
    font-weight: 600;
    margin-top:15px;
    margin-bottom:10px;
}
/*our-sponsor related styles*/
.sponsor-info{
    max-width:540px;
    margin: 50px auto;
    text-align:center;
}
.sponsor-partners{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.sponsor-partners img{
    filter:grayscale(100%);
    transition: filter 0.3s ease;
}
footer{
    width:900px;
    height:60px;
    margin:0 auto 20px auto;
    background-color:#FFF4E7;
    border:none;
    border-radius: 8px;
}
footer p{
   text-align: center;
   padding-top:25px;
}
/*
 .sponsor-partners img

 filter:grayscale(100%) -this  turn any color image into gray image
 & 

 .sponsor-partners img:hover 

   img:hover{filter: grayscale(0%);}-this is for hover effect.
*/
.sponsor-partners img:hover{
     filter: grayscale(0%);
}
/*responsive media query*/
@media screen and (max-width:576px)
{
    
    header{
        width:460px;
        
    }
    .navbar, 
    .nav-links,
    .teams,
    .features-u-will-love
    {
        flex-direction:column;
    }
    main{
        max-width:350px;
        margin:0px;
    }
    .teams{
        align-items: center;
        justify-content: center;
    }
    .team-img,
    .facts-container,
    .sponsor-partners
    {
        grid-template-columns: repeat(1, 1fr);
        margin-left:70px;
    }
    .facts-container,
    .sponsor-partners
    {
        justify-items:center;
        gap: 30px;
    }
    .features{
        
        margin-left: 10px;
    }
    #lady-architect{
        width:100%;
        margin-left:40px;
    }
    #experience-badge{
        margin-top:20px;
        margin-left:90px;
    }
    footer{
        margin:0px 0px 0px 30px;
        width:400px;
        height:56px;
        line-height:20px;

    }
    footer p{
        padding:10px;
    }
}

@media screen and (min-width:576px) and (max-width:992px)
{   header{
    max-width:900px;
   }
   .teams{
    flex-direction: column;
   }
   .features{
    margin-left:50px;
   }
   .facts-container,
   .sponsor-partners{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:50px;
    justify-items:center;
   }
}